@import "../utils/colors.scss";

/* Choisissez un restaurants */
.choose{
    & h2{
        margin: 35px 0px 25px 20px;
        @media (min-width: 768px) {
            text-align: center;
        }
    }
    & ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 25px;
        padding-bottom: 20px;
    }
    & li{
        justify-content: center;
        margin-bottom: 25px;
        border-radius: 25px;
        @include base-shadow;
        background-color: #f6f6f6;
        padding: 30px 5px 30px 5px;
        width: 90%; 
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            padding: 30px 100px 30px 64px;
        }
        & .description {
            font-weight: bold;
        }
        & .number{
            color: white;
            background-color: $primaire;
            padding: 3px 7px 3px 7px;
            border-radius: 12px;
            font-size: small;
            position: absolute;
            left: 14px;
            @media (min-width: 992px){
                position: static;
            }
        }
        & i {
            color: grey;
            margin-right: 20px;
            margin-left: 20px;
            font-size: large;
        }
        &:hover{
            @include opacity_shadow
        }
    } 
    & .pink-description {
        background-color: #f5edff;
            & i {
                    color: $primaire;
                }
    }
}

