@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
@media (min-width: 992px) {
  body {
    max-width: 1000px;
    margin: auto;
  }
}
body .loading-screen {
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  z-index: 1;
  animation: loading 80ms 3s forwards;
  transform-origin: top;
}
body .loading-screen h1 {
  font-family: "Shrikhand";
  animation: gradual-onset 1s;
}
body .loading-screen p {
  color: white;
  font-size: larger;
  animation: gradual-onset 2.5s both;
}
body .loading-screen::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: 315px;
  border-radius: 50px;
  border-top: 3px solid rgba(153, 226, 208, 0.8);
  border-bottom: 6px solid rgba(153, 226, 208, 0.8);
  animation: loading-spin 1s linear 0s infinite;
}
@media (min-width: 992px) {
  body .loading-screen::after {
    top: 500px;
  }
}

/* logo */
header {
  position: relative;
  font-family: "Shrikhand";
  font-size: smaller;
  text-align: center;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.25);
  padding: 0.1px;
}
header h1 {
  margin: 7px;
  font-weight: 500;
}

/* localisation */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  gap: 1rem;
}
.location h2, .location i {
  font-size: medium;
  color: rgba(0, 0, 0, 0.788);
}

/* Exploreur restaurants */
.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 40px;
}
.explorer h2 {
  margin: 0;
  padding: 0px 3rem;
}
.explorer p {
  color: grey;
  margin: 10px;
}
.explorer button {
  font-size: medium;
  color: white;
  padding: 1rem;
  margin: 13px;
  background-image: linear-gradient(175deg, #FF79DA 1%, #9356DC);
  border-radius: 2rem;
  border: none;
  box-shadow: 2px 2px 11px -7px black;
  cursor: pointer;
}
.explorer button:hover {
  opacity: 0.7;
  box-shadow: 3px 3px 15px black;
}

/* Choisissez un restaurants */
.choose h2 {
  margin: 35px 0px 25px 20px;
}
@media (min-width: 768px) {
  .choose h2 {
    text-align: center;
  }
}
.choose ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-bottom: 20px;
}
.choose li {
  justify-content: center;
  margin-bottom: 25px;
  border-radius: 25px;
  box-shadow: 2px 2px 11px -7px black;
  background-color: #f6f6f6;
  padding: 30px 5px 30px 5px;
  width: 90%;
}
@media (min-width: 768px) {
  .choose li {
    display: flex;
    align-items: center;
    padding: 30px 100px 30px 64px;
  }
}
.choose li .description {
  font-weight: bold;
}
.choose li .number {
  color: white;
  background-color: #9356DC;
  padding: 3px 7px 3px 7px;
  border-radius: 12px;
  font-size: small;
  position: absolute;
  left: 14px;
}
@media (min-width: 992px) {
  .choose li .number {
    position: static;
  }
}
.choose li i {
  color: grey;
  margin-right: 20px;
  margin-left: 20px;
  font-size: large;
}
.choose li:hover {
  opacity: 0.7;
  box-shadow: 3px 3px 15px black;
}
.choose .pink-description {
  background-color: #f5edff;
}
.choose .pink-description i {
  color: #9356DC;
}

/*Choisissez votre menu*/
.menus {
  background-color: #f6f6f6;
  padding: 20px;
  padding-bottom: 35px;
}
.menus h2 {
  padding-top: 15px;
}
.menus .menus__cards .new {
  position: relative;
}
.menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  color: rgba(0, 128, 0, 0.6509803922);
  right: 10px;
  top: 15px;
  padding: 7px 12px;
  font-weight: bold;
  font-size: small;
}
.menus .card {
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 11px -7px black;
}
.menus .card__image {
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.menus .card a {
  text-decoration: none;
  color: black;
}
.menus .card__description {
  position: relative;
}
.menus .card__description h3, .menus .card__description p {
  margin: 10px 0 -17px 15px;
  padding-bottom: 10px;
}
.menus .card__description p {
  color: #454242;
  margin-bottom: 10px;
}
.menus .card__description i {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  top: 7px;
  color: #828282;
}
.menus .card .hearth__animation:hover {
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transform: scale(1.2);
  transition-duration: 0.8s;
}

/*Footer*/
footer {
  background-color: rgba(1, 1, 1, 0.8196078431);
  padding-bottom: 20px;
}
footer h2 {
  font-family: "Shrikhand";
  margin: 0;
  padding-left: 35px;
  padding-top: 15px;
  font-size: 20px;
  color: rgba(246, 246, 246, 0.9098039216);
  font-weight: 100;
}
footer a {
  text-decoration: none;
  color: rgba(246, 246, 246, 0.9098039216);
}
footer li {
  list-style: none;
  color: rgba(246, 246, 246, 0.9098039216);
  margin-bottom: 10px;
}
footer i {
  padding-right: 6px;
}
footer .icon1 {
  padding-right: 12px;
}

@keyframes spin-hover {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes gradual-onset {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loading {
  to {
    transform: scale(0);
  }
}
@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Pages menus*/
header i {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 30px;
  top: 17px;
  font-size: large;
}

img {
  width: 100%;
}

.menu__page1 {
  position: relative;
  border-radius: 40px 40px 0 0;
  margin-top: -35px;
  padding: 15px;
  background-color: #f6f6f6;
}
.menu__page1 .fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  top: 7px;
  color: #828282;
}
.menu__page1 .fa-heart:hover.hearth__animation {
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transform: scale(1.2);
  transition-duration: 0.8s;
}
.menu__page1 h2 {
  font-family: "Shrikhand";
  position: relative;
  font-weight: 100;
  margin-bottom: 0px;
}
.menu__page1 .explorer button {
  padding: 16px 42px 16px 42px;
  margin: -5px 0 5px 0px;
}
.menu__page1 .menus {
  padding: 0px;
}
.menu__page1 .menus h3 {
  position: relative;
  font-weight: 100;
  color: grey;
  margin: 40px 0 25px 0;
}
.menu__page1 .menus h3::after {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  height: 3px;
  width: 50px;
  bottom: -7px;
  left: 0px;
}
.menu__page1 .menus .card {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
  cursor: pointer;
  animation: gradual-onset 1s;
  animation-fill-mode: backwards;
}
.menu__page1 .menus .card:nth-child(2) {
  animation-delay: 200ms;
}
.menu__page1 .menus .card:nth-child(3) {
  animation-delay: 300ms;
}
.menu__page1 .menus .card:nth-child(4) {
  animation-delay: 400ms;
}
.menu__page1 .menus .card:nth-child(5) {
  animation-delay: 500ms;
}
.menu__page1 .menus .card:nth-child(6) {
  animation-delay: 600ms;
}
.menu__page1 .menus .card:nth-child(7) {
  animation-delay: 700ms;
}
.menu__page1 .menus .card:nth-child(8) {
  animation-delay: 800ms;
}
.menu__page1 .menus .card:nth-child(9) {
  animation-delay: 900ms;
}
.menu__page1 .menus .card:nth-child(10) {
  animation-delay: 1000ms;
}
.menu__page1 .menus .card:nth-child(11) {
  animation-delay: 1100ms;
}
.menu__page1 .menus .card:nth-child(12) {
  animation-delay: 1200ms;
}
.menu__page1 .menus .card:hover .menus__hover {
  transition: margin-right 0.4s;
  margin-right: 0;
  transition: 0.4s;
}
.menu__page1 .menus .card:hover .menus__hover i {
  animation: spin-hover 0.5s ease-in-out;
}
.menu__page1 .menus .card .menu__price {
  margin-left: auto;
  align-self: self-end;
  font-weight: 500;
  margin-right: 15px;
  padding-left: 25px;
}
.menu__page1 .menus .card .menus__hover {
  display: grid;
  place-content: center;
  background-color: #99E2D0;
  margin-right: -60px;
  width: 60px;
  color: white;
  font-size: x-large;
  transition-duration: 0.5s;
  /*toujours la même taille*/
  flex-shrink: 0;
}
.menu__page1 .menus .card .menus__card {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
  overflow: hidden;
}
.menu__page1 .menus .card .menus__card h4 {
  margin-bottom: -10px;
  margin-top: 10px;
  font-size: large;
}
.menu__page1 .menus .card .menus__card p {
  color: grey;
  font-size: 15px;
}
.menu__page1 .menus .card .menus__card p, .menu__page1 .menus .card .menus__card h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
  overflow: hidden;
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */
