@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

/* logo */
header {
  position: relative;
  font-family: "Shrikhand";
  font-size: smaller;
  text-align: center;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.25);
  padding: 0.1px;
}
header h1 {
  margin: 7px;
}

/* localisation */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  gap: 1rem;
}
.location h2, .location i {
  font-size: medium;
  color: rgba(0, 0, 0, 0.788);
}

/* Exploreur restaurants */
.explorer {
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 40px;
}
.explorer h2 {
  margin: 0;
  padding: 0px 3rem;
}
.explorer p {
  color: grey;
  margin: 10px;
}
.explorer button {
  font-size: medium;
  color: white;
  padding: 1rem;
  margin: 13px;
  background-image: linear-gradient(175deg, #FF79DA 1%, #9356DC);
  border-radius: 2rem;
  border: none;
  box-shadow: 2px 2px 11px -7px black;
  cursor: pointer;
}
.explorer button:hover {
  opacity: 0.7;
  box-shadow: 3px 3px 15px black;
}

.choose h2 {
  margin: 35px 0px 25px 20px;
}
@media (min-width: 768px) {
  .choose h2 {
    text-align: center;
  }
}
.choose ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
}
.choose li {
  justify-content: center;
  margin-bottom: 25px;
  border-radius: 25px;
  box-shadow: 2px 2px 11px -7px black;
  background-color: #f6f6f6;
  padding: 30px 5px 30px 5px;
  width: 90%;
}
@media (min-width: 768px) {
  .choose li {
    display: flex;
    align-items: center;
    padding: 30px 100px 30px 64px;
  }
}
.choose li .description {
  font-weight: bold;
}
.choose li .number {
  color: white;
  background-color: #9356DC;
  padding: 3px 7px 3px 7px;
  border-radius: 12px;
  font-size: small;
  position: absolute;
  left: 14px;
}
.choose li i {
  color: grey;
  margin-right: 20px;
  margin-left: 20px;
  font-size: large;
}
.choose li:hover {
  opacity: 0.7;
  box-shadow: 3px 3px 15px black;
}
.choose .pink-description {
  background-color: #f5edff;
}
.choose .pink-description i {
  color: #9356DC;
}

.menus {
  background-color: #f6f6f6;
  padding: 20px;
  padding-bottom: 50px;
}
.menus h2 {
  padding-top: 15px;
}
.menus .menus__cards .new {
  position: relative;
}
.menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  color: rgba(0, 128, 0, 0.6509803922);
  right: 20px;
  top: 20px;
  padding: 7px 12px;
  font-weight: bold;
  font-size: small;
}
.menus .card {
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 11px -7px black;
}
.menus .card__image {
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.menus .card a {
  text-decoration: none;
  color: black;
}
.menus .card__description {
  position: relative;
}
.menus .card__description h3, .menus .card__description p {
  margin: 10px 0 -17px 15px;
  padding-bottom: 10px;
}
.menus .card__description p {
  color: #454242;
  margin-bottom: 10px;
}
.menus .card__description i {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  top: 0px;
  color: dimgrey;
}

footer {
  background-color: rgba(1, 1, 1, 0.8196078431);
  padding-bottom: 20px;
}
footer h2 {
  font-family: "Shrikhand";
  margin: 0;
  padding-left: 35px;
  padding-top: 15px;
  font-size: large;
  color: rgba(246, 246, 246, 0.9098039216);
  font-weight: 100;
}
footer li {
  list-style: none;
  color: rgba(246, 246, 246, 0.9098039216);
  margin-bottom: 10px;
}
footer i {
  padding-right: 6px;
}
footer .icon1 {
  padding-right: 12px;
}

/*# sourceMappingURL=style.css.map */
